# Editor/IDE files
.idea/
.vscode/

# Compiled Python bytecode
__pycache__/
*.pyc
*.pyd
*.pyo

# Cache - Dash Diskcace
.cache/

# Manual scripts
run_script.py

# Other files
commitlint_guidelines.txt
